$background-body: #F0F0F0;
$color-white: white;
$color-lilac: #8685EF;
$color-title: #C6C0F8;
$color-orange: #FFA184;
$color-pink: #E67DDB;
$color-pink2: #FF83B1;
$color-black: black;
$reset: 0px;
$text-padding: 25px;
$html: 100%;
$one-percent: 1%;
$two-percent: 2%;
$three-percent: 3%;
$animation: 1s;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;
