a {
	text-decoration: none;
	font-size: 2rem;
}
.subrayado {
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 48px;
	&:after {
		content: "";
		position: absolute;
		background-color: $color-lilac;
		height: 3px;
		width: $reset;
		left: $reset;
		bottom: -10px;
		transition: 0.3s;
	}
	&:hover {
		color: $color-white;
		&:after {
			width: $html;
		}
	}
}

.imagenLogo {
	max-width: 100px;
	max-height: 100px;
	margin-left: -32px;
	&:hover {
		transform: scale(1.15,1.15);
	}
}

.nav-link {
	font-size: 2.6rem;
}