.alinearBoton {
	margin-top: 380px;
	margin-left: -10px;
}
.alinearBoton2 {
	margin-top: 400px;
	margin-left: 25px;
}
.hr {
	min-width: 220px;
	max-width: 220px;
}
.boton {
	display: inline-block;
	background: #845EC2;
	color: #fff;
	padding: 8px 16px;
	margin: 30px 0;
	border-radius: 2rem;
}